.hero {
    background-image: url(../img/city-89197_1920.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9rem;
}

.hero h1,
h2,
h3,
h4,
p {
    color: white;
}

.color {
    background: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background: rgba(0, 0, 0, 0.774) !important;
}

.hero_title {
    display: flex;
    justify-content: center;
}

.hero_title h1 {
    font-size: 4rem;
    font-weight: 600;
    font-family: sans-serif;
}

.hero_description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero_description h3 {
    font-family: initial;
    color: floralwhite;
    font-size: 1.8rem;
    border-bottom: 2px solid whitesmoke;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
}

.hero_description strong {
    font-weight: 600;
    color: wheat;
}

.lista_social {
    display: flex;
    justify-content: center;
    list-style: none;
}

.lista_social a {
    color: white;
    font-size: 1.7rem;
}

.profile_img {
    height: 240px;
    width: 230px;
    border-radius: 50%;
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.about__container h1,
h2,
h3,
h4,
p {
    color: black;
}

.about__container {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about_title {
    color: white;
    font-weight: 550;
}

.about_details {
    color: dimgray;
    font-family: serif;
    font-size: 1.3rem;
}

.about_contact {
    margin-top: 2rem;
}
.btn_up {
    position: fixed;
    float: right;
    color: #11abb0;
    font-size: 4rem;
    right: 2rem;
    z-index: 1;
}
.container_resume {
    margin-top: 1rem;
    /* margin-left: -2rem; */
}

.about_title_items {
    text-align: center;
}

.row h3 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

#col8_resume h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

#col8_resume h4 {
    font-size: 1.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

#col8_resume p {
    font-size: 1rem;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 1rem;
}

#col8_resume {
    border-bottom: 1px solid gray;
    padding-top: 1rem;
}

#col4_resume {
    padding-top: 1rem;
}

#pb_title {
    font-style: normal !important;
    font-weight: 600;
    font-size: 1rem !important;
}

.card {
    margin: 1rem;
}

#projects_title {
    font-size: 1.6rem;
    font-family: initial;
    text-align: center;
    padding-top: 2rem;
}

#projects_title span {
    border-bottom: 1px solid cornflowerblue;
}

#container_profile {
    max-width: 50%;
}

.nav_menu {
    background-color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    font-weight: bold;
    padding: 0 100px;
}

.nav_menu ul {
    float: right;
    margin-right: 100px;
}

.nav_menu ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

.nav_menu ul li a {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

a.active,
.itens a:hover {
    background: #11abb0;
    transition: 0.5s;
}

.btn_menu {
    color: white;
    font-size: 1.6rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#btn_burger {
    display: none;
    line-height: 80px;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 1.7rem;
        padding-left: 50px;
    }
    .nav_menu ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 858px) {
    .lista_social {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .btn_menu {
        display: block;
    }
    #btn_burger {
        display: block;
    }
    .itens {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .itens.is_active {
        left: 0;
    }
    .nav_menu ul li {
        display: block;
    }
    .nav_menu ul li a {
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        font-weight: bold;
    }
    a:hover,
    .itens a:active {
        background: none;
        color: white;
    }
}

@media (min-width: 319px) and (max-width: 480px) {
    .profile_img {
        height: 155px;
        width: 145px;
        border-radius: 50%;
        padding-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    .hero_title h1 {
        font-size: 3rem;
        font-weight: 600;
        font-family: sans-serif;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .profile_img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        min-height: 90%;
    }
    .lista_social {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
